.Bottom {
    display: flex;
    flex-direction: row;
    flex-grow: 10;
    border-top: 2px solid blue;
    padding-top: 10px;
}

.left-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 7;

}

.top-left {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.databases, .search-input, .search-by,
.Search-button, .Return-button, .Refresh-button {
    font-size: 25px;
    padding: 3px 10px;
    margin: 5px 5px;
    font-family: Cambria sans-serif;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid white;
}

.databases:hover, .search-input:hover, .search-by:hover,
.Search-button:hover, .Return-button:hover, .Refresh-button:hover {
    border: 1px solid blue;
}

.search-input {
    flex-grow: 1;
    padding: 3px 15px;
    border-radius: 0;
    font-size: 25px;
    cursor: initial;
    border-bottom: 2px solid blue;
}

.top-left input[type='button']:hover {
    background-color: blue;
    color: white;
}
.top-left input[type='button']:active {
    background-color: white;
    color: black;
}

.right-bottom {
    margin: 0 70px 0 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.right-bottom p {
    font-size: 15px;
    font-weight: bold;
}

.right-bottom input {
    outline: none;
    border: none;
    border-bottom: 2px solid blue;
    width: 100%;
    font-size: 20px;
    margin: 15px 15px 15px 45px;
    padding: 5px;
    font-weight: bolder;
}

.editing {
    width: 100%;
    display: grid;
    grid-template-areas: 'edit edit ' 'update delete';
}

.edit-mode {
    grid-area: edit;
}

.update-button {
    grid-area: update;

}

.delete-button {
    grid-area: delete;
}

.right-bottom button {
    font-size: 25px;
    padding: 3px 10px;
    margin: 5px 5px;
    font-family: Cambria sans-serif;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid white;
    font-weight: bold;
}

button:hover {
    background-color: blue;
    color: white;
}

button:active {
    background-color: green;
    color: white;
}

.edit-mode {
    display: block;
    width: 100%;
}
